<tbody class="tbody">
  <tr class="table-row">
    <td>{{users.firstname}} {{users.lastname}}</td>
    <td>{{users.email}}</td>
    <td>{{users.mobile}}</td>
    <td>{{users.role}}</td>
   <td>
       

         
            <a href="users/{{users.id}}">
               
                  <i class="fa fa-eye">  </i>
            
            </a>

          <a href="users/{{users.id}}/edit">
             
              <i class="fa fa-edit"></i>
            
          </a>

          <a href="users/{{users.id}}/delete">
             
                <i class="fa fa-trash"></i>
             
          </a>

        


    </td>
  </tr>
</tbody>

 