{% extends 'layout.html' %}
{% block body %}
  <div class="card">
    <div class="card-header bg-dark">
      <legend>User details</legend>
    </div>
    <div class="card-body">
      <dl class="col-md-4 sph-data">
        <dt>FirstName</dt>
        <dd>{{ users.firstname}}</dd>
      </dl>
      <dl class="col-md-4 sph-data">
        <dt>Lastname</dt>
        <dd>{{ users.lastname}}</dd>
      </dl>
      <dl class="col-md-4 sph-data">
        <dt>Middlename</dt>
        <dd>{{ users.middlename}}</dd>
      </dl>
      
      <dl class="col-md-4 sph-data">
        <dt>Address</dt>
        <dd>{{ users.address}}</dd>
      </dl>
      
      <dl class="col-md-4 sph-data">
        <dt>Mobile</dt>
        <dd>{{ users.mobile}}</dd>
      </dl>
      <dl class="col-md-4 sph-data">
        <dt>Role</dt>
        <dd>{{ users.role}}</dd>
      </dl>
      <dl class="col-md-4 sph-data">
        <a href="/users" class="btn btn-danger btn-sm">
          <i class="fa fa-angle-double-left">&nbsp;&nbsp;Back</i>
        </a>
      </dl>
    </div>
  </div>
{% endblock %}