{% extends 'layout.html' %}
{% block body %}
  

  <div class="row">
        <div class="col">
          <h4>Payments</h4>
        </div>
        <div class="col">
            <form action="" method = "POST">
              <div class="input-group">
                
                <input class="form-control" type="text" name="search" placeholder=" Type here...">
                <button class="btn btn-info btn-sm" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <br>


        

        <div class="table-responsive-md">
        
           <table class="table table-bordered table-hover">
            <thead class="thead">
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Role</th>
                        <th scope="col">Action</th>
            </thead>
            <tbody>
             
            </tbody>

          </table>
        </div>

        


   
  {% endblock %}