<nav class="navbar navbar-expand-lg ">
  <br> 


<style>


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #434B56;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:  #1ABCBE;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 35px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn{
  margin-left: 20px;
}

#main {
  transition: margin-left 1s;
  padding: 16px;

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   <a href="/dashboard">Dashboard</a>
  <a href="/users">Users</a>
  <a href="/reservations">Reservation</a>
  <a href="/rooms">Rooms</a>
  <a href="/payments">Payment</a>
  
</div>



<div id="main"><span style="font-size:20px;cursor:pointer; color:white" onclick="openNav()" >&#9776; </span>


</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.body.style.backgroundColor = "white";
}
</script>


  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ></span>
  </button>

  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
    </ul>  

     <i class="fa fa-user" style="color:white" "size:70px">  </i><a class=" text-white"  href="#" >
    {{current_user.email}} 
    </a> 

     <a  class="text-white" href="/logout"><span> <i class="fa fa-sign-out"></i></span></a>
        
      </div>

    
  </div>

	
	
   
</nav>