<tbody>
	<tr class="table-row">
    <td>{{reservation.users.firstname}} {{reservation.users.lastname}}</td>
    <td>{{reservation.rooms.room_type}} {{reservation.rooms.price}}</td>
    <td>{{reservation.date_in}}</td>
    <td>{{reservation.date_out}}</td>
    <td>{{reservation.child_count}}</td>
    <td>{{reservation.adult_count}}</td>
   
    <td>
      <div class="btn is-group">
      <a href="reservations/{{reservation.id}}"><button type="submit" class="btn btn-primary btn-sm">
              <i class="fa fa-eye">&nbsp;&nbsp;View</i>
            </button></a>
    <a href="reservations/{{reservation.id}}/edit"><button type="submit" class="btn btn-success btn-sm">
              <i class="fa fa-edit">&nbsp;&nbsp;Edit</i>
            </button></a>
  <a href="reservations/{{reservation.id}}/delete"><button type="submit" class="btn btn-danger btn-sm">
              <i class="fa fa-trash">&nbsp;&nbsp;Delete</i>
            </button></a>
          </div>
    </td>
	</tr>
</tbody>

